@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* background-image: url('./Images/CRBackground.png'); */
  color: white;
}

h1{
  font-size: 3.9em;
  font-family: 'Bangers', cursive;
}

.container{
  margin: 0 auto;
  max-width: 950px;
}

/* HEADER */
.header img{
  width: 600px;
}

.header .container{
  text-align: center;
}

/* INPUT */
.input .container{
  text-align: center;
}

.input-panel{
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 400px;
  border-radius: 5px;
  padding: 60px;
  margin: 0 auto;
}

.container-panel{
  background-color: #ccc;
  border-radius: 5px;
  height: 900px;
  color: #000;
  font-size: 18px;
}



/* MEDIA QUERIES */
/* small screen: header img: width: 350px */

